on:
  push:
    branches: [main]
permissions:
  contents: write
  pull_requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_GITHUB_TOKEN }}
          release-type: simple
          package-name: github.com/gasperlf/social
